@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";
*{
    margin: 0;
    pagging: 0;
    font-family: "Montserrat",sans-serif;
    lust-style: none;
}
body{
    background-image: url('bg.jpg');
    background-repeat: no-repeat;

}
.metro{
    color: white;
    position: absolute;
    top :50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.item:hover{
    transform:scale(0.9);
}
.rank:hover{
    transform:scale(0.9);
}
.rank{
    width: 300px;
    height: 508px;
    float: left;
    background: #3498db;
    opacity: 0.85;
    margin: 4px;
    cursor: pointer;
    text-align: center;
    position: relative;
}
.rank i{
    font-size: 400px;
    line-height: 90px;
    ppacity:0.8;
}
.rank span{
    opacity: 0/8;
    position: absolute;
    bottom: 6px;
    left: 6px;
    font-size: 40px;
    
}


.item{
    width: 250px;
    height: 250px;
    float: left;
    background: #3498db;
    opacity: 0.85;
    margin: 4px;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.item i{
    font-size: 160px;
    line-height: 90px;
    ppacity:0.8;
}
.item span{
    opacity: 0.8;
    position: absolute;
    bottom: 6px;
    left: 6px;
    font-size: 40px;
}

.i1{
    background: #aaabac;
}
.i2{
    background: #451cda;
}
.i3{
    background: #2ecc71;
}
.i4{
    background: #34495e;
}
.i5{
    background: #9b59b6;
}
